@use "sass:color";
@use "sass:map";
@use "sass:meta";

// Grid mixins
@mixin grid-container($grids) {
    display: grid;
    grid-template-columns: repeat($grids, 1fr);
    grid-template-rows: repeat(minmax(auto));
}

// Responsiveness
$breakpoints: (
    'mobile': '(min-width: 280px) and (max-width: 539px)',
    'tablet': '(min-width: 540px) and (max-width: 768px)',
    'laptop': '(min-width: 769px)'
);

@mixin respond($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
      @media #{map.get($breakpoints, $breakpoint)} {
          @content;
      }
  }
}


// button mixins


@mixin btn($bg, $outline: false) {
  display: inline-block;
  margin: 5px;
  text-decoration: none;
  padding: 8px 12px;
  font-size: 1.1em;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 4px 12px 20px rgba(0, 0, 0, 0.432);
  border: 1px solid $bg;

  @if $outline {
    background: transparent;
    color: $bg;

    &:hover {
      background: $bg;
      color: white;
    }
  } @else {
    background: $bg;
    color: white;

    &:hover {
      background: white;
      color: $bg;
    }
  }

  &:active {
    // 2. Replace darken($bg, 25%) with color.scale
    background: color.scale($bg, $lightness: -25%);
    border-color: color.scale($bg, $lightness: -25%);
    color: white;
  }
}

  