// 1. Use @use and give it a short name like 'm'
@use "../base/mixins" as m;

@include m.respond('mobile') {
    .d-none-xs {
        display: none;
    }
}

@include m.respond('tablet') {
    .d-none-md {
        display: none;
    }
}

@include m.respond('laptop') {
    .d-none-lg {
        display: none;
    }
}
